[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.nfo {
  padding: 15px;
  margin-bottom: 15px;
}
#humerus {
  width: 75%;
}
label {
  margin-bottom: 0px;
}
.Text {
  border: 2px solid rgb(87, 117, 192);
  background-color: white; 
}
.Image {
  border: 2px solid rgb(216, 8, 106);
  background-color: white; 
}
.Text-off {
  border: 2px solid rgb(87, 117, 192);
  /*background-color: rgb(87, 117, 192);*/
}
.Text-off label {
  text-decoration:line-through;
  color: black;
}
.Text-off label span {
  color: white;
}
.Image-off {
  /*background-color: rgb(216, 8, 106);*/
  border: 2px solid rgb(216, 8, 106);
  color: white;
  text-decoration:line-through;
}
.Image img {
  width: 100%;
}
.answer{
  white-space: normal;
}
.masonry{
  width: 33%;
}
.joke {
  margin-bottom: 15px;
  border-radius: 10px;
  min-height: 30px;
}
.filter {
  background-color: rgba(255,140,0,0.35);
  border-radius: 20px;
  margin-bottom: 20px;
}
.btn {
  /*border: 1px solid black;*/
}
.type-filter-button-Text {  
  background: white;
  border: 5px solid rgb(87, 117, 192);
}
.type-filter-button-Image {
  background: white;
  border: 5px solid rgb(216, 8, 106);
}

/*Call and Response*/
.joke.Call-and-Response {  
  border-left: 3px solid rgb(82, 210, 104);
}
.type-filter-button.Call-and-Response {  
  border-radius: 10px;
  background-color: white;
  border-left: 5px solid rgb(82, 210, 104);
}
.type-filter-button.Call-and-Response-off {
  border-radius: 10px;
  background-color: lightgray;
  border-left: 5px solid rgb(82, 210, 104);
}
.type-filter-button.Call-and-Response-off label{
  text-decoration:line-through;
}

/*One Liner*/
.joke.One-Liner {
  border-left: 3px solid rgb(72, 171, 180);
}
.type-filter-button.One-Liner {
  border-radius: 10px;
  background-color: white;
  border-left: 5px solid rgb(72, 171, 180);
}
.type-filter-button.One-Liner-off {
  border-radius: 10px;
  background-color: lightgray;
  border-left: 5px solid rgb(72, 171, 180);
}
.type-filter-button.One-Liner-off label{
  text-decoration:line-through;
}

/*Riddle*/
.joke.Riddle {
  border-left: 3px solid rgb(255, 204, 99);
}
.type-filter-button.Riddle {
  border-radius: 10px;
  background-color: white;
  border-left: 5px solid rgb(255, 204, 99);
}
.type-filter-button.Riddle-off {
  border-radius: 10px;
  background-color: lightgray;
  border-left: 5px solid rgb(255, 204, 99);
}
.type-filter-button.Riddle-off label{
  text-decoration:line-through;
}

.type-filter-button {
    margin: 5px;
    padding: 1px 5px 1px 5px;
    border-radius: 4px;
    /*border: 1px solid rgb(8, 36, 104);  border color */
    overflow: auto;
    float: left;
    /*color: rgb(87, 117, 192); font color*/
}
/*.type-filter-button:hover {
    padding: 1px 5px 1px 5px;
    border-radius: 4px;
    overflow: auto;
    float: left;
    background-image: linear-gradient(rgba(0,0,0,0) 0%,rgba(211,211,211,0.65) 100%);
}*/

.joke-animation.ng-enter, 
.joke-animation.ng-leave, 
.joke-animation.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
  /*color:red;*/
}

.joke-animation.ng-hide-add.ng-hide-add-active,
.joke-animation.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  color: red;
}

.joke-animation.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

.joke-animation.ng-enter {
  left:-10px;
  opacity:0;
}
.joke-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.joke-animation.ng-leave {
  left:0;
  opacity:1;
}
.joke-animation.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}

.joke-animation.ng-move {
  opacity:0.5;
}
.joke-animation.ng-move.ng-move-active {
  opacity:1;
}

.no-jokes.ng-enter, 
.no-jokes.ng-leave, 
.no-jokes.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
  /*color:red;*/
}
.no-jokes.ng-hide-add.ng-hide-add-active,
.no-jokes.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  color: red;
}
.no-jokes.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}
.no-jokes.ng-enter {
  left:-10px;
  opacity:0;
}
.no-jokes.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}
.no-jokes.ng-leave {
  left:0;
  opacity:1;
}
.no-jokes.ng-leave.ng-leave-active {
  left:-10px;
  opacity:0;
}
.no-jokes.ng-move {
  opacity:0.5;
}
.no-jokes.ng-move.ng-move-active {
  opacity:1;
}


rzslider {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 2px;
  margin: 30px 0 15px 0;
  vertical-align: middle;
}

rzslider span {
  position: absolute;
  display: inline-block;
  white-space: nowrap;
}

rzslider span.base {
  width: 100%;
  height: 100%;
  padding: 0;
}

rzslider span.bar {
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

rzslider span.bar.selection {
  z-index: 1;
  width: 0;
  background: rgb(18, 62, 171);
}

rzslider span.pointer {
  top: -10px;
  z-index: 2;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: #fff;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
}

rzslider span.pointer:after {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 7px;
  height: 7px;
  background: #71818e;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  content: '';
}

rzslider span.pointer:hover:after {
  background-color: rgb(18, 62, 171);
}

rzslider span.pointer.active:after {
  background-color: rgb(18, 62, 171);
}

rzslider span.bubble {
  top: -32px;
  padding: 1px 3px 1px 3px;
  color: rgb(18, 62, 171);
  cursor: default;
}

rzslider span.bubble.selection {
  top: 15px;
}

rzslider span.bubble.limit {
  color: #FFF;
}