<h1>Jokes</h1>

<div ng-repeat="jokeType in jokeTypeList">
  <input type="checkbox"/> {{ jokeType }}
</div>

<!-- <div ng-repeat="joke in jokes | orderByPriority | unique:'type'">
  <input type="checkbox" ng-model="joke.checked" /> {{ joke.type }}
</div>
 -->
<div class="row">
  <ul class="">
    <!-- <li class="" ng-class="{visible:!joke.checked}" ng-repeat="joke in jokes"> -->
    <li class="" ng-class="" ng-repeat="joke in jokes">
      <!-- {{joke}} -->
      {{joke.joke}} : {{joke.answer1}}
    </li>
  </ul>
</div>
